@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: #3A3845;
    color: #ffffff;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    background-color: #F7CCAC;
    color: #3A3845;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items > li {
    box-shadow: 0px 1px 6px #71797e7d;
}

.nav-link > a {
    text-decoration: none;
    color: unset;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    width: 8em;
    border-radius: 0.5em;
    margin: 0em 1em;
    font-size: 1.2em;
    font-weight: 600;
    height: 80%;
}

.nav-link > a:hover {
    background-color: #3A3845;
    color: #F7CCAC;
    transition: 0.2s;
    border-radius: 0.5em;
}

.nav-link > a:focus {
    background-color: #3A3845;
    color: #F7CCAC;
    transition: 0.2s;
}


main {
    
}

footer {
    background-color: #C69B7B;
    color: #2a2932;
}