@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: var(--colordarkgrey);
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-image: url("https://img.freepik.com/free-photo/abstract-red-background-christmas-valentines-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-53521.jpg?w=1060&t=st=1669908936~exp=1669909536~hmac=e7be49b99aee27cd059d61719b9ba34ad830f50ab9f6a4acd62bfd565a0b1668");
    background-size: 100%;
    filter: hue-rotate(32deg);
    color: var(--colorlightbeige);
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-elevation-medium);
}

.header__nav__items {
    list-style: none;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
}

.header__nav__li > a {
    text-decoration: none;
    color: unset;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__li {
    width: 8em;
    border-radius: 0.5em;
    margin: 0em 1em;
    font-size: 1.2em;
    font-weight: 600;
    height: 80%;
}

.header__nav__li > a:hover {
    background-color: var(--colordarkgrey);
    color: var(--colorlightbeige);
    transition: 0.2s;
}

.header__nav__li > a:focus {
    background-color: var(--colordarkgrey);
    color: #F7CCAC;
    transition: 0.2s;
}

h1 {
    font-size: 3em;
    text-align: center;
}

main {
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: var(--colordarkerbeige);
    color: #2a2932;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.3em;
    font-weight: 600;
    position: fixed;
    bottom: 0em;
    width: 100%;
}