main {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/female-business-executive-giving-speech.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

p {
    margin: 0.5em;
}

.contentcontainer {
    /* filter: blur(2em); */
    height: 50%;
    width: 100%;
    align-self: center;
    /* margin-top: 3em; */
    border: 1px dashed var(--colorlightbeige);
    overflow: hidden;
}
