:root {
	--colordarkgrey: #3A3845;
	--colorlightbeige: #F7CCAC;
	--colordarkerbeige: #C69B7B;

		  /* ________ skugga mot "--colordarkgrey" bakgrund ___________ */
	--shadow-color: 250deg 15% 12%;
	--shadow-elevation-low:
	  0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.34),
	  0.5px 0.5px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
	  1.3px 1.3px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
	  0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.36),
	  1px 1.1px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
	  2.6px 2.7px 4.2px -1.7px hsl(var(--shadow-color) / 0.36),
	  6.3px 6.6px 10.3px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high:
	  0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.34),
	  1.9px 1.9px 3px -0.4px hsl(var(--shadow-color) / 0.34),
	  3.5px 3.6px 5.6px -0.7px hsl(var(--shadow-color) / 0.34),
	  5.7px 5.9px 9.2px -1.1px hsl(var(--shadow-color) / 0.34),
	  9.1px 9.5px 14.8px -1.4px hsl(var(--shadow-color) / 0.34),
	  14.2px 14.8px 23.1px -1.8px hsl(var(--shadow-color) / 0.34),
	  21.5px 22.5px 35px -2.1px hsl(var(--shadow-color) / 0.34),
	  31.7px 33.2px 51.6px -2.5px hsl(var(--shadow-color) / 0.34);


	  /* ________ skugga mot ljusbrun bakgrund ___________ */
	--shadow-color2: 33deg 19% 51%;
	  --shadow-elevation-low2:
		0.3px 0.3px 0.5px hsl(var(--shadow-color2) / 0.34),
		0.5px 0.6px 0.9px -1.2px hsl(var(--shadow-color2) / 0.34),
		1.3px 1.3px 2.1px -2.5px hsl(var(--shadow-color2) / 0.34);
	  --shadow-elevation-medium2:
		0.3px 0.3px 0.5px hsl(var(--shadow-color2) / 0.36),
		1.1px 1.1px 1.8px -0.8px hsl(var(--shadow-color2) / 0.36),
		2.7px 2.7px 4.3px -1.7px hsl(var(--shadow-color2) / 0.36),
		6.6px 6.7px 10.6px -2.5px hsl(var(--shadow-color2) / 0.36);
	  --shadow-elevation-high2:
		0.3px 0.3px 0.5px hsl(var(--shadow-color2) / 0.34),
		1.9px 1.9px 3px -0.4px hsl(var(--shadow-color2) / 0.34),
		3.6px 3.6px 5.7px -0.7px hsl(var(--shadow-color2) / 0.34),
		5.9px 6px 9.5px -1.1px hsl(var(--shadow-color2) / 0.34),
		9.5px 9.5px 15.1px -1.4px hsl(var(--shadow-color2) / 0.34),
		14.8px 14.9px 23.6px -1.8px hsl(var(--shadow-color2) / 0.34),
		22.5px 22.6px 35.9px -2.1px hsl(var(--shadow-color2) / 0.34),
		33.1px 33.3px 52.8px -2.5px hsl(var(--shadow-color2) / 0.34);

		--shadow-color: 210deg 22% 11%;
		--shadow-elevation-blow:
	  	0px 1px 1.5px hsl(var(--shadow-color) / 0),
	  	0px 2.3px 3.5px hsl(var(--shadow-color) / 0.35),
	  	0px 5px 7.5px hsl(var(--shadow-color) / 0.69);
		--shadow-elevation-bmedium:
	  	0px 1px 1.5px hsl(var(--shadow-color) / 0),
	  	0px 4.8px 7.2px hsl(var(--shadow-color) / 0.18),
	  	0px 8.5px 12.8px hsl(var(--shadow-color) / 0.35),
	  	-0.1px 14.5px 21.8px hsl(var(--shadow-color) / 0.52),
	  	-0.1px 25px 37.5px hsl(var(--shadow-color) / 0.7);
		--shadow-elevation-bhigh:
	  	0px 1px 1.5px hsl(var(--shadow-color) / 0),
	  	-0.1px 12.2px 18.3px hsl(var(--shadow-color) / 0.08),
	  	-0.1px 21.9px 32.9px hsl(var(--shadow-color) / 0.16),
	  	-0.2px 31.4px 47.1px hsl(var(--shadow-color) / 0.24),
	  	-0.2px 41.7px 62.6px hsl(var(--shadow-color) / 0.33),
	  	-0.3px 54.1px 81.2px hsl(var(--shadow-color) / 0.41),
	  	-0.3px 70px 105px hsl(var(--shadow-color) / 0.49),
	  	-0.5px 90.4px 135.6px hsl(var(--shadow-color) / 0.57),
	  	-0.6px 116.7px 175.1px hsl(var(--shadow-color) / 0.65),
	  	-0.7px 150px 225px hsl(var(--shadow-color) / 0.73);
	  
}
