.container {
    background-image: url("/img/beige-aged-background_53876-88685.webp");
    max-width: 50em;
    min-width: 20em;
    padding: 3em;
    color:var(--colordarkgrey);
    border-radius: 0.5em;
    text-align: center;
}

.container__forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* RUBRIKERNA OVANFÖR INPUT-FÄLTEN */
.container__inputheader {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 0.2em;
}

/* TEXTEN INUTI INPUT-FÄLTEN */
.container__input-text {
    font-size: 1.05em;
    height:2em;
    padding-left: 0.5em;
}


.container__input-text-small {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 0.5em;
    
}
.container__input-text-small > label {
    width: 100%;;
    text-align: left;
}

/* CONTAINER FÖR ADRESSGRUPPEN */
.container__adressgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container__date {
    margin-bottom: 1em;
}

.container__ticket > div {
    padding-top: 0.5em;
}

.container__food {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.container__food__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex-basis: 5em;
    height: 3em;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.5em;
}

.container__food__item > label {
    width: 100%;
    height: 100%;
    background-color: #ffffff97;
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow: var(--shadow-elevation-medium2);
}
.container__food__item > label:hover {
    transition: 0.2s;
    background-color: rgb(87, 255, 199);
    box-shadow: var(--shadow-elevation-high2);
    transform: scale(102%);
    cursor: pointer;
}

.container__food__item > input {
    position: absolute;
    left: 11.5em;
    bottom: 7.5em;
    opacity:0;
}

.container__food__item > input:checked + label {
    background-color: #58d295;
    transform: scale(99%);
    box-shadow: var(--shadow-elevation-medium2);
}

.container__food__item > label:focus {
    background-color: #58d295;
    transform: scale(99%);
    box-shadow: var(--shadow-elevation-medium2);
}

.container__button {
    box-shadow: var(--shadow-elevation-medium2);
    border: none;
    margin-top: 1em;
    height: 3em;
    border-radius: 0.5em;
    font-size: 1.3em;
    font-weight: 600;
    background-color: #58d26a;
    transition: 0.2s;
}

.container__button:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: 0.2s;
    box-shadow: var(--shadow-elevation-high2);
}

textarea {
    width: 100%;
    margin-top:1em;
    border-radius: 0.5em;
    background-color: #ffffff97;
}

input:invalid {
    transition: 0.2s;
    border-right: 2em solid red;
    border-radius: 0.5em;
    font-weight: 700;
}
input:invalid + .error-message {
    transition: 0.2s;
    visibility: visible;
}

.container__input-text:focus {
    border-right: 2em solid white;
    border: 5px solid #570e00; 
    box-shadow: var(--shadow-elevation-high2);
}
.container__input-text-small:focus {
    border-right: 2em solid white;
    border: 5px solid #570e00; 
    box-shadow: var(--shadow-elevation-high2);
}


input:valid {
    border-right: 2em solid green;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.357);
    transition: 0.2s;
}

h2 {
    padding-top:1em;
}

.focus-message {
    opacity:0;
    padding: 0.5em;
    transition:9999999s;
    color: black;
}

.focus-message:focus {
    opacity: 1;
    transition:1s;
}

.error-message {
    visibility: hidden;
    font-size: 1.15em;
}